body {
  background-image: url("1593169038195.jpg");
  background-size: auto;
}

.header-mask {
  background: black !important;
  height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.15s ease;
}

.opacity-9 {
  opacity: 0.05;
}
@media print {
  #hid {
    display: none; /* ซ่อน  */
  }
}
.content {
  opacity: 1 !important;
  background-color: white;
  box-shadow: 10px 10px;
  box-shadow: 5px 10px red;
}
.content-left {
  background: linear-gradient(87deg, #4680ff 0, #68f0ed 100%) !important;
  font-family: "Pattaya", sans-serif;
  font-weight: bold;
  font-size: 14px;
  /* font-family: 'League Gothic', sans-serif; */
}

.content-left h1,h2,h4{
  font-family: "Pattaya", sans-serif;
}
.content-right {
  background-color: white;
  font-size: 16.5px;
  font-family: "Charmonman", cursive;
  font-family: "K2D", sans-serif;
}
h7 {
  color: black;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.content-history {
  text-align: right;
}

.pointer {
  width: 100%;
  margin-left: -10px;
  height: 50px;
  position: relative;
  background: #d4edda;

  padding-top: 15px;
  padding-left: 40px;
  margin-bottom: 15px;

  color: #155724;
}
.pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 25px solid white;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}
.pointer:before {
  content: "";
  position: absolute;
  right: -25px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 25px solid #d4edda;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}
